@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600&display=swap');
/*RESET CSS*/
:root {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scrolls dobles */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


body, button, input, textarea, select, div {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.monospace-text,
input[placeholder*="ej:"] {
  font-family: 'Fira Code', monospace !important;
}